<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<h1>FAIDA BUSINESS APP</h1>
<P>The Faida Business App is a cutting-edge tool designed to empower small and medium-sized enterprises (SMEs) with essential resources for growth and success. This app offers a comprehensive suite of business solutions, including financial management tools, inventory tracking, customer relationship management (CRM), and data analytics, all tailored to meet the unique challenges faced by SMEs. With an intuitive interface and real-time insights, Faida Business App enables entrepreneurs to streamline operations, make informed decisions, and maximize productivity. Whether you’re a startup or an established business, Faida provides the support and flexibility needed to adapt to evolving market demands and drive long-term success.</P>
<P></P>
<img src="{% static 'static/assets/image 2.jpg '%}" alt="">
<img src="{% static 'static/assets/image 3.jpg '%}" alt="">
<img src="{% static 'static/assets/image 4.png '%}" alt="">


</body>
</html>